* {
    padding-bottom: 1em;
    border:rgb(46, 73, 223) 2px;
    margin: 5px;
}
body {
    background-color: teal;  
    margin: 20px;
    font-family: courier;
}
li {
    color: red;
    font-family: courier;
    font-size: 100%;
    display: inline;
    padding: 20px;
  }
img, h2 {
    color: rgb(221, 224, 20);
}