* {
    padding-bottom: 1em;
    margin: 5px;
    font-family: courier;
}
body {
    background-color: black;  
    background-image: url("https://images.unsplash.com/photo-1633241394397-927cc4ec0845?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGRhcmslMjBraXRjaGVufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(248, 213, 209) ;
}
.title {
    margin: 10px;
    text-align: center;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
}
.container > li {
    display: inline;
    flex: 1;
}
.Welcome {
    text-align: center;
}
a {
    color:lightskyblue;
}
.lentil, 
.lasagna,
.turkey {
    flex: 2;
    text-decoration: none;
}
.lentil:hover,
.lasagna:hover,
.turkey:hover {
    color: rgb(248, 213, 209) ;
    text-decoration: underline;
}